*.class
*.log
*.jar
.idea/**/workspace.xml
.idea/**/dictionaries
.idea/**/uiDesigner.xml
.idea/**/gradle.xml
.idea/kotlinc.xml
.idea/vcs.xml
.gradle/
gradle/
.idea/encodings.xml
.idea/misc.xml
build.gradle
build/
/out/
